In [1]:
import pandas as pd
import numpy as np
from keras.models import load_model
from sklearn.preprocessing import StandardScaler

In [2]:
model=load_model("customer_churn.h5")

 
## Geography:France
## credit score: 600
## gender: male
## age: 40
## tenure: 3
## balance: 60000
## number of products: 2
## credit card: yes
## active member: yes
## estimated salary: 50000
## goodbuy or not?

In [7]:
scaler=StandardScaler()
model.predict(scaler.fit_transform([[1,0,0,600,1,40,3,60000,2,1,1,50000]]))>0.5

array([[False]])

In [50]:
one=[1,0,0,800,0,35,2,60000,3,1,1,40000]
two=[0,1,0,700,1,18,3,40000,2,0,1,10000]
three=[1,1,0,300,1,59,1,20000,1,0,1,30000]

In [51]:
one =np.array(one)
two = np.array(two)
three = np.array(three)

In [54]:
 df = pd.DataFrame([one,two,three])

In [55]:
df

   0  1  2    3  4   5  6      7  8  9  10     11
0  1  0  0  800  0  35  2  60000  3  1   1  40000
1  0  1  0  700  1  18  3  40000  2  0   1  10000
2  1  1  0  300  1  59  1  20000  1  0   1  30000

In [57]:
model.predict(scaler.fit_transform(df))

array([[0.2628883 ],
       [0.03104118],
       [0.76528597]], dtype=float32)

In [64]:
pred=model.predict(scaler.fit_transform(df))>0.5
print(pred)

[[False]
 [False]
 [ True]]